<router-outlet></router-outlet>

<div class="flex m-5 max-w-md flex-col">
   <div class="flex justify-around">
      <button class="flex items-center btn">
         <div class="w-5 h-5 border border-gray-600 rounded-full m-2 p-1">
            <svg class="fill-current text-gray-700" viewBox="0 0 30 29">
               <use xlink:href="/assets/images/icons.svg#add" />
            </svg>
         </div>
         Раздел
      </button>
      <button class="flex items-center btn">
         <div class="w-5 h-5 border border-gray-600 rounded-full m-2 p-1">
            <svg class="fill-current text-gray-700" viewBox="0 0 30 29">
               <use xlink:href="/assets/images/icons.svg#add" />
            </svg>
         </div>
         Позиция
      </button>
   </div>
   <div class="flex items-center flex-col text-gray-700 justify-center mt-20 text-center">
      <div class="w-32 h-32">
         <svg class="fill-current text-gray-600" viewBox="0 0 30 29">
            <use xlink:href="/assets/images/icons.svg#empty_menu" />
         </svg>
      </div>
      Добавьте в новое
      меню разделы и позиции
   </div>
</div>

<!-- <div>JSON data: {{ jsonData | json }}</div> -->
